# DEV STAGE
version: "3.8"

services:
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - "8000:8000"
    volumes:
      - .:/app
      - ./static:/app/static
      - ./media:/app/media
    environment:
      - DEBUG=1
      - SECRET_KEY=supersecreto
      - ALLOWED_HOSTS=*
